body{
    margin: 0 ;
}
.container-body{
    position: relative;
}
.header{
    position: absolute;
    color:rgb(21, 22, 22);
    background-color: aqua;
    left: 0;
    right: 0;
    top:0;
    height:300px;
}
.footer{
    background-color: aqua;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    height:300px;
}
